*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    height: 500px;
    width: 400px;
    background-color: #fff;
    position: relative;
}
img{
    height: 500px;
    width: 400px;
    object-fit: fill;
}
i{
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
}